$font-one: 'Oswald', sans-serif;
$font-two: 'Iceberg', Arial, Helvetica, sans-serif;
$font-three: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;

$color-one: #222;
$color-two: #555;
$color-three: darkolivegreen;

* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px 100% auto;
  grid-template-areas:
      "hd"
      "main"
      "ft";
  font-family: $font-one;
  min-width: 481px;
  background-color: $color-one;
}

header {
  grid-area: hd;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px;
  z-index: 1;

  h1 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
  }

  h2 {
    text-align: center;
    font-weight: lighter;
  }
}

#landing-header {
  background-color: $color-three;
  font-family: $font-three;
  font-size: 2rem;
}

#battle-header {
  background-color: gray;
  font-family: $font-three;
  font-size: 1.5rem;
  padding: 10px;
}

#intro-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $color-two;

  img {
    width: 40vw;
    height: 100%;
    max-height: 20rem;
  }

  #intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    p {
      padding: 24px;
      font-family: $font-two;
      text-align: justify;
      color: $color-one;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 1.5rem;
    }

    button {
      background-color: red;
      color: darkred;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 1.5rem;
      height: 5rem;
      width: 5rem;
      border-radius: 3rem;
    }
  }

}

#makers {
  img {
    max-width: 100%;
    width: 100px;
    border-radius: 8px;
  }
}

#battle {
  height: 100%;

  section {
    min-height: 40vh;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20vw;
  }

  .card {
    min-width: 180px;
    height: 240px;
    margin: 0px 20px;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: $color-two;
  }
}

#page-footer {
  grid-area: ft;
  color: $color-two;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  margin: 10px;
}
